body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 12px;
    font-weight: normal;
    color: #58585A;
    cursor: default;
    white-space: normal;
    -webkit-appearance: none;
    -webkit-font-smoothing: inherit;
}

body.modal-open {
    overflow: hidden;
    z-index: 1051;
}

.layout-template.layout-row > .row-wrapper{
    padding:6px;
    background: #ffffff;
    border-radius: 4px;
    margin-right: 2px;
    margin-left: 2px;
}

.layout-template.layout-column > .column-wrapper{
    padding:6px;
    background: #ffffff;
    border-radius: 4px;
    margin-bottom: 2px;
}

.layout-column>.layout-row>.row-wrapper:first-child {
    margin-left: 0;
}

.layout-column>.layout-row>.row-wrapper:last-child {
    margin-right: 0;
}

.layout-row>.layout-column>.column-wrapper:first-child {
    margin-top: 0;
}

.layout-row>.layout-column>.column-wrapper:last-child {
    margin-bottom: 0;
}

.navbar{
    background-color: #fafafa;
    border-bottom: 2px solid #f4f4f4;
    border-radius: 0;
    height: 80px;
    position: relative;
    margin-bottom: 0;
}

.navbar-brand {
    float: left;
    padding: 0 15px 0 0;
    font-size: 18px;
    line-height: 20px;
    height: 20px;
}

span.title,
.navbar .navbar-brand,
.navbar .navbar-brand a{
    color: #58585A;
    font-weight: 500;
    /*padding: 45px 15px 25px 15px;*/
    text-decoration: none;
}

.navbar-stack-bottom,
.navbar-stack-bottom a,
.navbar-stack-top,
.navbar-stack-top a{
    color: #58585A;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
}

.navbar-stack-top .navbar-brand  {
    margin-top: -3px;
}

.navbar-stack-bottom  a:hover,
.navbar-stack-top a:hover {
    color: #00AEEF;
    text-decoration: none;
    cursor: pointer;
}

.navbar-stack-top {
    position: absolute;
    right: 15px;
    top: 15px;
}

.navbar-stack-bottom {
    position: absolute;
    right: 15px;
    /*padding-right: 15px;*/
    top: 45px;
}

.nav-sidebar a {
    font-weight: 300;
    font-size: 14px;
    color: #58585A;
    position: relative;
    display: block;
    padding: 10px 15px;
}

.nav-sidebar a:hover,
.nav-sidebar a.selected {
    color: #00AEEF;
    text-decoration: none;
    cursor: pointer;
}
.sidebar {
    background-color: #fafafa;
    border-right: 2px solid #f4f4f4;
    /*padding-top: 10px;*/
    width: 220px;
}

.nav-sidebar-bottom {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.detail-panel {
    min-width:375px;
    border-left: 2px solid #f4f4f4;
}

.navbar-brand a:hover {
    color: #00AEEF;
    text-decoration: none;
    cursor: pointer;
}

.navbar-center-title {
    position: absolute;
    font-weight: lighter;
    top: 15px;
    font-size: 38px;
}

.navbar .navbar-text {
    padding-right: 15px;
    font-weight: normal;
    margin: 0;
}

.navbar .navbar-text:last-child {
    padding: 0;
}

.navbar img {
    height: 70px;
    padding: 22px 0 10px 18px;
    float: left;
}

.container-fluid {
	position: absolute;
	top: 50px;
	right: 0;
	bottom: 0;
	left: 0;
}

.content-column {
    padding: 15px 15px 0 15px;
}

.box {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.title-box .title {
    position: relative;
    font-size: 12px;
    font-weight: 400;
    top: -16px;
    margin-left: 15px;
    padding: 0 2px 0 2px;
    display: inline;
    background-color: white;
}

.title-box .content {
    margin-top: -15px;
    padding-bottom: 5px;
    font-size: 12px;
    font-weight: 300;
    width: 100%;
}

.title-box .content .detail-form {
    height: 25px;
}

.title-box .content .detail-form-label {
    margin: 0;
    padding: 5px 0 0 5px;
    min-height: 20px;
}

.title-box .content .detail-form-value {
    border: none;
    margin: 0;
    padding: 5px 0 0 5px;
    min-height: 20px;
    font-weight: bold;
}

.title-box .content .detail-form-label.full-line {
    border: none;
    width: 100%;
    margin: 0;
    padding: 5px 0 5px 5px;
    min-height: 20px;
}

a {
    color: #00AEEF;
    font-size: 12px;
    text-decoration: none;
    outline: none;
}

a:hover {
    color: #0095cc;
    text-decoration: none;
    outline: none;
}

table {
    width: 100%;
    /*margin-bottom: 20px;*/
    margin-bottom: 5px;
}

td {
    padding: 4px;
}

tr {
    outline: none;
}

.btn-input {
    display: block;
    height: 34px;
    padding: 2px 6px;
    margin: 4px 8px;
}

.image-btn {
    display: block;
    height: 24px;
    padding: 2px 6px;
}

.form-group {
    /*margin-bottom: 15px;*/
    margin-bottom: 2px;
}

.form-control {
    display: block;
    width: 100%;
    height: 30px;
    padding: 2px 4px;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.428571429;
    color: #58585A;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.invalid-form-control {
    display: block;
    width: 100%;
    height: 30px;
    padding: 2px 4px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #58585A;
    background-color: #FFBABA;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: #ffffff; !important;
    background-image: none;
    color: rgb(0, 0, 0);
}

.font-awesome-inverse{
    color: #ffffff;
}

.font-awesome-inverse:hover{
    color: #a9a9a9;
}

.popover-btn:hover {
    text-decoration: none;
}

.popover-btn {

}

.popover-btn .fa {
    padding-right: 4px;
    width: 20px;
}
.popover-btn.font-red,
.popover-btn.font-red i{
    color: #fd595f;
}

.form-btn {
    height: 35px;
    width: 100px;
}

.form-btn {
    width: auto;
    height: auto;
    padding: 8px 15px;
    background: #00AEEF;
    color: #fff;
    font-size: 15px;
    font-family: 'PT Sans',Tahoma;
    outline: 0;
    border: 0;
}


.variable-group-box {
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 6px;
}

/*.searchBar {*/
    /*overflow: visible;*/
    /*border-bottom: 2px solid #f4f4f4;*/
/*}*/

.search-bar .typeahead .dropdown-menu {
    max-height: 300px;
}

/*.modal-content .typeahead .dropdown-menu {*/
    /*max-height: 300px;*/
/*}*/

.typeahead .message {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    color: #868686;
}

.typeahead .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    float: left;
    min-width: 160px;
    max-width: 600px;
    max-height: 100px;
    overflow-y: auto;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box;
    z-index: 1051;
}

.pager_item, .pager_item_selected {
    padding: 0 6px;
    text-align: center;
    height: 100%;
    width: auto;
    border: 1px solid #ddd;
    margin: 0 2px;
    cursor: pointer;
    background-color: #fff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'PT Sans',Tahoma;
    font-size: 15px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;

}
.pager_item_selected {
    font-size: 15px;
    padding: auto 6px;
    font-family: 'PT Sans',Tahoma;
    border: 1px solid #00AEEF;
    outline: 0;
    background: #8b8b8e;
    color: #fff;
    border-color: #8b8b8e;
    border-bottom: 1px solid #209150;
    box-shadow: none;
    float:left;
}
.pager_item {
    padding: auto 6px;
    font-family: 'PT Sans',Tahoma;
    border: 1px solid #00AEEF;
    width:auto;
    outline: 0;
    color: #fff;
    background: #00AEEF;
    border-bottom: 1px solid #2386c8;
    font-size: 15px;
    float:left;
    margin: 6px;
}

.pager_text {
    padding: auto 6px;
    font-family: 'PT Sans',Tahoma;
    float:left;
    margin: 6px;
}

.btn-basic {
    color: #fff;
    background-color: #00AEEF;
    border-color: #00AEEF;
    font-weight: 300;
    font-size: 12px;
    padding: 3px 6px 3px 6px;
}

.btn-basic:hover,
.btn-basic:focus,
.btn-basic:active,
.btn-basic.active {
    color: #fff;
    background-color: #0095cc;
    border-color: #0095cc;
}

.btn-basic.disabled,
.btn-basic[disabled],
fieldset[disabled] .btn-basic,
.btn-basic.disabled:hover,
.btn-basic[disabled]:hover,
fieldset[disabled] .btn-basic:hover,
.btn-basic.disabled:focus,
.btn-basic[disabled]:focus,
fieldset[disabled] .btn-basic:focus,
.btn-basic.disabled:active,
.btn-basic[disabled]:active,
fieldset[disabled] .btn-basic:active,
.btn-basic.disabled.active,
.btn-basic[disabled].active,
fieldset[disabled] .btn-basic.active {
    background-color: #66d5ff;
    border-color: #66d5ff;
}

.editor-label {
    float: left;
    width: 200px;
}

.editor-field {
    margin-left:200px;
    margin-right:50px;
}

.editor-field input {
    float: left;
    width: 100%;
}


.float-right-dark-btn {
    cursor:pointer;
    float:right;
    border: none;
    outline: none;
}

.float-right-dark-btn:hover{
    /*font-weight:bold;*/
    color: #a9a9a9;
    text-decoration: none;
    outline: none;
}

.dynamic-form-header {
    height: 28px;
    width: 100%;
    background: #fafafa;
    padding-top: 4px;
    margin-bottom: 4px;
    border-bottom: 2px solid #f4f4f4;
}

.dynamic-form-header .float-right-dark-btn {
    padding-right: 8px;
    outline: none;
}

.dynamic-form-section-label {
    width: 100%;
    float: left;
    position: relative;
    /*text-align: right;*/
    min-height: 1px;
    padding: 5px 5px 5px;
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 600;
}

.dynamic-form-label {
    width: 35%;
    float: left;
    position: relative;
    /*text-align: right;*/
    min-height: 1px;
    padding: 10px 5px 5px 15px;
    display: inline-block;
    margin-bottom: 0px;
    font-weight: 600;
}
.dynamic-form-hyperlink,
.dynamic-form-label-input,
.dynamic-form-value {
    width: 65%;
    float: left;
    position: relative;
    display: inline-block;
    min-height: 1px;
    padding: 5px 15px 5px 0;
}

.dynamic-form-hyperlink {
    text-decoration: none;
    outline: none;
    padding-top: 12px;
    font-weight: 400;
}

.dynamic-form-value {
    border: 1px solid #ebebeb;
    border-radius: 4px;
    padding-right: 4px;
    min-height: 30px;
}

.modalForm .dynamic-form-label {
    width: 15%;
}

.modalForm .dynamic-form-label-input,
.modalForm .dynamic-form-value{
    width: 35%;
}

.modalForm .details-form {
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.modal-body .details-form  {
    min-height: 110px
}

.invalid-inp_bottom_label {
    font-size: 13px;
    color: #fd595f;
}
.resource_list .resource_list_item.selected {
    border-bottom: 1px solid #ebebeb;
    padding: 2px 10px;
}
.resource_list_item.selected {
    color: #58585A;
    background: #ccf1ff;
}

.selected {
    outline: none;
    background: #8b8b8e;
    color: #fff;
}
.resource_list_item {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2px 10px;
    line-height: 29px;
    cursor: pointer;
    border-bottom: 1px solid #ebebeb;
    text-align: left;
    border-color: #ebebeb;
    font-weight: 600;
    outline: none;
}

.resource_list_item.selected .float-right-btn{
    visibility: visible;
    float:right;
    border: none;
    color: #58585A;
    outline: none;
}

.resource_list_item.selected .float-right-btn:hover{
    visibility: visible;
    color: #a9a9a9;
    outline: none;
}

.resource_list_item .float-right-btn {
    visibility: hidden;
    float:right;
    border: none;
    color: #ffffff;
    outline: none;
}

.resource_list_item .float-right-btn:hover{
    /*font-weight:bold;*/
    visibility: hidden;
    color: #a9a9a9;
    outline: none;
}

.float-right-icon {
    float:right;
    border: none;
    color: #58585A;
    padding-top: 7px;
    outline: none;
}
.resource_list_item .float-right-icon:hover{
    color: #3f3f40;
    outline: none;
}


.form-footer {
    padding: 6px 20px 20px;
    text-align: right;
    position: absolute;
    right: 0;
    bottom: 0;
}

/*.modal-body {*/
    /*min-height: 350px;*/
    /*min-width: 650px;*/
/*}*/

.modal-footer {
    padding: 10px 24px 4px;
    margin-bottom: 10px;
    text-align: right;
    border-top: none;
}

.table-striped tbody tr.st-selected td,
.st-selected{
    background-color: #ccf1ff;
    color: #58585A;
    outline: none; !important;
}

.referenceTable{
    float: left;
    width: 406px;
    height: 150px;
    border: 1px solid #bbb;
}

.details-form{
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.scrollableContainer {
    position: relative;
    padding-top: 37px;
    margin-bottom: 30px;
}
.scrollableContainer .headerSpacer {
    border-bottom: 1px solid #bbb;
    /*border-bottom-color: #bbb;*/
    position: absolute;
    height: 36px;
    top: 0;
    right: 0;
    left: 0;
}
.scrollableContainer th .th-inner .title > span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}
.scrollableContainer th .orderWrapper {
    position: absolute;
    top: 0;
    right: 2px;
    cursor: pointer;
}
.scrollArea {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    /*border-bottom: 1px solid #d5d5d5;*/
    /*border: 1px solid #d5d5d5;*/
}

.scrollArea table {
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 0;
    border: none;
    border-collapse: separate;
}
.scrollArea table th {
    padding: 0;
    border: none;
}
.scrollArea table .th-inner {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
    top: 0;
    height: 36px;
    line-height: 36px;
    padding: 0 8px;
    /*border-left: 1px solid #ddd;*/
}

.scrollArea table tr th:first-child .th-inner {
    border-left: none;
}
.scrollArea table .th-inner.condensed {
    padding: 0 3px;
}
.scrollArea table tbody tr td:first-child {
    border-left: none;
}
.scrollArea table tbody tr td:last-child {
    border-right: none;
}
.scrollArea table tbody tr:first-child td {
    border-top: none;
}
.scrollArea table tbody tr:last-child td {
    border-bottom: 1px solid #ddd;
}
.scrollArea table>thead>tr>th {
    border-bottom: 0px solid #ddd;
    padding: 0px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
/*.scrollableContainer .table>thead>tr>th,*/
/*.scrollableContainer .table>tbody>tr>th,*/
/*.scrollableContainer .table>tfoot>tr>th,*/
/*.scrollableContainer .table>thead>tr>td,*/
/*.scrollableContainer .table>tbody>tr>td,*/
/*.scrollableContainer .table>tfoot>tr>td {*/
    /*line-height: 10px;*/
    /*font-size: 14px;*/
/*}*/

.referenceTable.scrollableContainer {
    padding-top: 27px;
    margin-bottom: 4px;
}

.referenceTable.scrollableContainer .headerSpacer {
    height: 26px;
}

.referenceTable .scrollArea table .th-inner {
    height: 26px;
    line-height: 26px;
}

.referenceTable .table>thead>tr>th,
.referenceTable .table>tbody>tr>th,
.referenceTable .table>tfoot>tr>th,
.referenceTable .table>thead>tr>td,
.referenceTable .table>tbody>tr>td,
.referenceTable .table>tfoot>tr>td {
    line-height: 10px;
    font-size: 14px;
    border: none;
}

.search-bar {
    border-bottom: 2px solid #f4f4f4;
    min-width:220px;
    padding-top: 6px;
    position:relative;
    height: 45px;
}

.search-bar .search-label {
    float: left;
    padding-top: 6px;
    padding-left: 8px;
    width: 60px;
}

.search-bar .search-field {
    margin-left:60px;
    margin-right:0px;
    max-width: 500px;
    position: relative;
}

.search-bar .search-field input {
    float: left;
    width: 100%;
    padding-right: 60px;
    background-color:transparent;
}

.search-bar .search-field .undo-icon,
.search-bar .search-field .undo-icon i {
    position:absolute;
    z-index: 2;
    right: 14px;
    width: 30px;
    display: block;
    padding-top: 4px;
}

.search-bar .search-field .search-icon,
.search-bar .search-field .search-icon i {
    position:absolute;
    z-index: 2;
    right:0;
    width: 30px;
    display: block;
    padding-top: 4px;
}

.message_area {
    position: fixed;
    right: 5px;
    width: 250px;
    z-index: 1000;
}
.message_error {
    background-color: #d81b1b;
    border: 1px solid #ff3c3c;
    box-shadow: 0 0 10px #000;
    font-size: 15px;
    color: #666;
    padding: 0;
    border-radius: 3px;
    cursor:pointer
}

.message_info {
    font-size: 15px;
    color: #666;
    box-shadow: 0 0 10px #888;
    padding: 0;
    background-color: #FFF;
    border-radius: 3px;
    border: 1px solid #fff;
    cursor:pointer
}
.message_error div {
    padding: 5px 10px;
    background-color: #d81b1b;
    border: 1px solid #940000;
    border-radius: 3px;
    color: #FFF;
}
.message_info div {
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #B8B8B8;
}
.message_error, .message_info {
    min-width: 120px;
    font-family: Tahoma,Arial;
    z-index: 10000;
    overflow: hidden;
    margin: 5px 5px 10px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
div.modal_cover {
    background-color: #000;
    cursor: default;
    filter: alpha(opacity=10);
    opacity: .1;
    position: fixed;
    z-index: 19999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    zoom: 1;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}