<div class="modal-header">
   <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
    <div>{{text}}</div>
</div>
<div class="modal-footer">
    <button class="form-btn btn btn-basic" type="button" ng-click="confirm(true)">{{ok}}</button>
    <button class="form-btn btn btn-basic" type="button" ng-click="confirm(false)">{{cancel}}</button>
</div>
