<div class="modal-header">
    <div ng-switch on="isReadOnly">
        <div ng-switch-when="true">
            <h3 class="modal-title">{{selectedResourceTypeConfig.resource}}</h3>
        </div>
        <div ng-switch-default>
            <h3 class="modal-title">New {{selectedResourceTypeConfig.resource}}</h3>
        </div>
    </div>
</div>
<div class="modal-body">
    <div ng-include src="'js/templates/dynamicForm.html'"></div>
</div>
<div class="modal-footer">
    <button ng-show="!isReadOnly" class="form-btn btn btn-basic" type="button" ng-click="create(selectedResourceInstance)">Create</button>
    <button class="form-btn btn btn-basic" type="button" ng-click="cancel()">Cancel</button>
</div>
