<div><a href='#' class='popover-btn' ng-click="requestUpdateResource()"><i class='fa fa-check' ></i>Update</a></div>
<div><a href='#' class='popover-btn' ng-click="openModalDialog('clone')"><i class='fa fa-copy'></i>Clone</a></div>
<div><a href='#' class='popover-btn' ng-click="json()"><i class='fa fa-file-text-o'></i>JSON</a></div>
<div><a href='#' class='popover-btn' ng-click="fred()"><i class='fa fa-file-text-o'></i>FRED</a></div>
<div><a href='#' class='popover-btn font-red' ng-click="requestDeleteResource()"><i class='fa fa-times-circle-o fa-lg'></i>Delete</a></div>
