<div class="form-group">
    <div class="dynamic-form-header" ng-hide="isModal">
        <a href='#' class='float-right-dark-btn' ng-click="closeDetailView()"><i class='fa fa-remove fa-lg'></i></a>
        <a href='#' class='float-right-dark-btn' ng-click="requestUpdateResource()"><i class='fa fa-check fa-lg'></i></a>
        <a href='#' class='float-right-dark-btn' ng-click="openModalDialog('clone')"><i class='fa fa-copy fa-lg'></i></a>
        <a href='#' class='float-right-dark-btn' ng-click="json()"><i class='fa fa-file-text-o fa-lg'></i></a>
        <a href='#' uib-popover-template="'js/templates/detailPopover.html'" popover-trigger="focus" popover-placement="bottom" class='float-right-dark-btn'><i class='fa fa-ellipsis-h fa-lg'></i></a>
    </div>
    <div class="details-form"  ng-style="resizeWithOffset(detailOffset)" resize notifier="notifyServiceOnChange(params)">
        <div ng-repeat="attribute in selectedResourceTypeConfig.displayValues" ng-class="{modalForm: isModal}">
            <div ng-include src="dynamicFormTemplate"></div>
        </div>
        <div ng-if="!isModal">
            <div ng-if="selectedResourceReferences.length > 0" ng-repeat="reference in selectedResourceReferences">
                <label class="dynamic-form-label">{{reference.resource}}</label>
                <a href='#' class="dynamic-form-hyperlink" ng-click="resourceReferenceSelected(reference)">{{reference.relativeUrl}}</a>
            </div>

            <div ng-if="selectedResourceReferencesList.length > 0">
                <div><label class="dynamic-form-section-label">Performers</label></div>
                <div ng-include src="'js/templates/dynamicReferenceTable.html'"></div>
            </div>
        </div>
    </div>
</div>

