<div class="content-column">
    <div class="box">
    <div class="scrollableContainer" ng-style="resizeWithOffset(tableOffset,tableOffsetWidth)" resize notifier="notifyServiceOnChange(params)">
        <div class="headerSpacer"></div>
        <div class="scrollArea" ng-style="{'overflow-y' : modalOpen ? 'hidden' : 'auto'}">
            <table st-table="resourceInstanceList" class="table table-striped" arrow-selector>
                <thead class="fixedHeader">
                <tr>
                    <th ng-repeat="attribute in selectedResourceTypeConfig.displayValues">
                        <div ng-if="attribute.view === 'master'" class="th-inner" table-header-inner>{{attribute.label}}</div>
                    </th>
                </tr>
                </thead>
                <tbody class="scrollContent">
                <tr st-select-row="resource" ng-click="selectResourceInstance(resource)" ng-repeat="resource in resourceInstanceList">
                    <td ng-repeat="attribute in selectedResourceTypeConfig.displayValues">
                        <div ng-if="attribute.view === 'master' && attribute.type !== 'variable'">
                            {{dmh.getDynamicModel(resource, attribute.path) | formatAttribute}}
                        </div>
                        <div ng-if="attribute.view === 'master' && attribute.type === 'variable'">
                            {{dmh.getDynamicModelByName(resource, attribute)}}
                        </div>
                    </td>
                </tr>
                </tbody>
                <tfoot ng-show=showPageButtons()>
                <tr>
                    <td colspan="10">
                        <div id="pageButtons" height=28>
                            <div class="pager_item" ng-show="hasLink(selectedResourceType.searchObj, 'previous')"
                                 ng-click="pageResourceInstanceList(selectedResourceType.searchObj, 'prevPage')">&lt; Prev</div>
                            <div class="pager_text" ng-model=resourcePages> Page {{resourcePages.currentPage}} of {{resourcePages.pageCount}} </div>
                            <div class="pager_item" ng-show="hasLink(selectedResourceType.searchObj, 'next')"
                                 ng-click="pageResourceInstanceList(selectedResourceType.searchObj, 'nextPage')">Next &gt;</div>
                        </div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
    </div>
</div>

