<div class="scrollableContainer referenceTable">
    <div class="headerSpacer"></div>
    <div class="scrollArea">
        <table st-table="selectedResourceReferencesList" class="table table-striped">
            <thead class="fixedHeader">
            <tr>
                <th><div class="th-inner" table-header-inner>Resource</div></th>
                <th><div class="th-inner" table-header-inner>Detail</div></th>
            </tr>
            </thead>
            <tbody class="scrollContent">
            <tr st-select-row="reference" ng-click="resourceReferenceSelected(reference)" ng-repeat="reference in selectedResourceReferencesList">
                <td>{{reference.resource}}</td>
                <td>{{reference.relativeUrl}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

