<!-- TEXT FIELDS -->
<div ng-if="attribute.type=='text'" class="form-group">
    <label class="dynamic-form-label">{{attribute.label}}</label>
    <div class="dynamic-form-label-input">
        <input type="{{ attribute.type }}" dynamic-name="attribute.name" ng-model="dmh.getModelParent(selectedResourceInstance, attribute.path)[ dmh.getModelLeaf(attribute.path) ]" id="{{attribute.name}}" class="form-control" />
        <!--<span ng-show="{{'form.'+attribute.name+'.$dirty && form.'+attribute.name+'.$error.required'}}">Required!</span>-->
    </div>
</div>

<div ng-if="attribute.type=='date'" class="form-group">
    <label class="dynamic-form-label">{{attribute.label}}</label>
    <div class="dynamic-form-label-input">
        <input type="datetime-local" class="form-control" id="{{attribute.name}}"
               ng-model="dmh.getModelParent(selectedResourceInstance, attribute.path)[ dmh.getModelLeaf(attribute.path) ]"
               aria-describedby="dateErrorStatus" >
        <!--<span id="dateIcon" class="glyphicon form-control-feedback" aria-hidden="true"></span>-->
        <!--<span id="dateErrorStatus" class="sr-only">(success)</span>-->
    </div>
</div>

<!-- SELECT FIELDS -->
<div ng-if="attribute.type=='select'" class="form-group" >
    <label class="dynamic-form-label">{{attribute.label}}</label>
    <div class="dynamic-form-label-input">
        <select ng-model="dmh.getModelParent(selectedResourceInstance, attribute.path)[ dmh.getModelLeaf(attribute.path) ]" ng-options="option for option in attribute.options" class="form-control" />
    </div>
</div>

<!-- TYPEAHEAD FIELDS -->
<div ng-if="attribute.type=='coded-code-typeahead'" class="form-group">
    <label class="dynamic-form-label">{{attribute.label}}</label>
    <div class='typeahead'>
        <div class="dynamic-form-label-input">
            <input type="text" class="form-control" ng-model="dmh.getModelParent(selectedResourceInstance, attribute.path)[ dmh.getModelLeaf(attribute.path) ]" placeholder="Enter the Code Value"
                   uib-typeahead="coding.code for coding in getValueSetExpansion($viewValue, 1, attribute.codedUri)" typeahead-loading="loadingValueSetDisplay"
                   typeahead-no-results="noResultsDisplay" typeahead-on-select="typeAheadSelected($item, attribute)"> <!--typeahead-editable="false"-->
            <!--<i ng-show="loadingValueSetDisplay" class="glyphicon glyphicon-refresh"></i>-->
            <!--<div ng-show="noResultsDisplay">-->
                <!--<i class="glyphicon glyphicon-remove"></i> No results  &lt;!&ndash;{{resultsStatus}}&ndash;&gt;-->
            <!--</div>-->
        </div>
    </div>
</div>

<!-- TYPEAHEAD FIELDS -->
<div ng-if="attribute.type=='coded-display-typeahead'" class="form-group">
    <label class="dynamic-form-label">{{attribute.label}}</label>
    <div class='typeahead'>
        <div class="dynamic-form-label-input">
            <input type="text" class="form-control" ng-model="dmh.getModelParent(selectedResourceInstance, attribute.path)[ dmh.getModelLeaf(attribute.path) ]" placeholder="Enter the Display Value"
                   uib-typeahead="coding.display for coding in getValueSetExpansion($viewValue, 3, attribute.codedUri)" typeahead-loading="loadingValueSetDisplay"
                   typeahead-no-results="noResultsDisplay" typeahead-on-select="typeAheadSelected($item, attribute)"> <!--typeahead-editable="false"-->
            <!--<i ng-show="loadingValueSetDisplay" class="glyphicon glyphicon-refresh"></i>-->
            <!--<div ng-show="noResultsDisplay">-->
                <!--<i class="glyphicon glyphicon-remove"></i> No results  &lt;!&ndash;{{resultsStatus}}&ndash;&gt;-->
            <!--</div>-->
        </div>
    </div>
</div>

<!-- REFERENCE FIELDS -->
<div ng-if="attribute.type=='reference'" class="form-group">
    <label class="dynamic-form-label">{{attribute.label}}</label>
    <div class="dynamic-form-label-input">
        <input type="{{ attribute.type }}" dynamic-name="attribute.name" ng-model="dmh.getModelParent(selectedResourceInstance, attribute.path)[ dmh.getModelLeaf(attribute.path) ]" class="form-control" />
        <!--<span ng-show=" {{'form.'+attribute.name+'.$dirty && form.'+attribute.name+'.$error.required'}}">Required!</span>-->
        <!--<span ng-show=" {{'form.'+attribute.name+'.$dirty && form.'+attribute.name+'.$error.email'}}">Not email!</span>-->
    </div>
</div>


<!-- EMAIL FIELDS -->
<div ng-if="attribute.type=='email'" class="form-group">
    <label class="dynamic-form-label">{{attribute.label}}</label>
    <div class="dynamic-form-label-input">
        <input type="{{ attribute.type }}" dynamic-name="attribute.name" ng-model="dmh.getModelParent(selectedResourceInstance, attribute.path)[ dmh.getModelLeaf(attribute.path) ]" class="form-control" />
        <span ng-show=" {{'form.'+attribute.name+'.$dirty && form.'+attribute.name+'.$error.required'}}">Required!</span>
        <span ng-show=" {{'form.'+attribute.name+'.$dirty && form.'+attribute.name+'.$error.email'}}">Not email!</span>
    </div>
</div>

<!-- PASSWORD FIELDS -->
<div ng-if="attribute.type=='password'" class="form-group" >
    <label class="dynamic-form-label">{{attribute.label}}</label>
    <div class="dynamic-form-label-input">
        <input type="{{ attribute.type }}" dynamic-name="attribute.name" ng-model="dmh.getModelParent(selectedResourceInstance, attribute.path)[ dmh.getModelLeaf(attribute.path) ]" ng-minlength={{attribute.min}} ng-maxlength={{attribute.max}} class="form-control" required/>
        <span ng-show=" {{'form.'+attribute.name+'.$dirty && form.'+attribute.name+'.$error.required'}}">Required!</span>
        <span ng-show=" {{'!form.'+attribute.name+'.required && (form.'+attribute.name+'.$error.minlength || form.'+attribute.name+'.$error.maxlength)' }}">Passwords must be between 8 and 20 characters.</span>
    </div>
</div>

<!-- RADIO FIELDS -->
<div ng-if="attribute.type=='radio'" class="form-group">
    <label class="dynamic-form-label">{{attribute.label}}</label>
    <div class="dynamic-form-label-input">

        <div class="checkbox" ng-repeat="option in attribute.options" >
            <label>
                <input type="radio" ng-model="dmh.getModelParent(selectedResourceInstance, attribute.path)[ dmh.getModelLeaf(attribute.path) ]"  name="taskGroup"  id="{{option.name}}" value="{{option.id}}">{{option.name}}
            </label>
        </div>
    </div>
</div>

<!-- CHECKBOX FIELDS -->
<div ng-if="attribute.type=='checkbox'" class="form-group" >
    <label class="dynamic-form-label">{{attribute.label}}</label>
    <div class="dynamic-form-label-input">
        <div class="checkbox" ng-repeat="option in attribute.options" >
            <label>
                <input type="checkbox" ng-model="option.data"  name="taskGroup"  id="{{option.name}}" value="{{option.id}}" >{{option.name}}
            </label>
        </div>

    </div>
</div>

<div ng-if="attribute.type==='variable'" class="form-group">
    <div ng-if="!isCreate">
        <div ng-repeat="attribute in dmh.getFhirDatatypeOnResource(selectedResourceInstance, attribute)">
            <div ng-include src="dynamicFormTemplate"></div>
        </div>
    </div>
    <div ng-if="isCreate">
        <label class="dynamic-form-label">{{attribute.choiceLabel}}</label>
        <div class="dynamic-form-label-input" >
            <select ng-model="selectedDataType" ng-change="dmh.dataTypeChoiceChange(selectedDataType, '{{selectedDataType}}', selectedResourceInstance)"
                    ng-options="option for option in dmh.getFhirDatatypeChoices(attribute)"
                    placeholder="Select a Value Type" class="form-control"/>
        </div>
        <div ng-if="selectedDataType !== ''" ng-init="attributeOuter = attribute">
            <div ng-repeat="attribute in dmh.getFhirDatatypeByName(selectedDataType, attributeOuter)">
                <div ng-include src="dynamicFormTemplate"></div>
            </div>
        </div>
    </div>

</div>

