<div class="modal-header">
   <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
    <pre style="max-height: 400px; overflow-x: auto;" >{{json | json}}</pre></div>
<div class="modal-footer">
    <button class="form-btn btn btn-basic" type="button" ng-click="close()">{{ok}}</button>

</div>
